

{% block title %}New candidat{% endblock %}

{% block body %}
    <h1>Create new candidat</h1>
    {{  include('candidat_front/register.html.twig') }}



    <a href="{{ path('candidat_front') }}">back to list</a>
{% endblock %}
